<template>
    <form action="#" method="POST" @:submit.prevent="" class="space-y-8 divide-y divide-gray-200">
        <div class="space-y-8 divide-y divide-gray-200 sm:space-y-5">
            <div class="space-y-6 sm:space-y-5">

                <div class="space-y-6 sm:space-y-5">
                    <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:border-t sm:border-gray-200 sm:pt-5">
                        <label for="first-name"
                            class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">Category name</label>
                        <div class="mt-1 sm:col-span-2 sm:mt-0">
                            <input type="text" name="category-name" id="first-name" autocomplete="category-name"
                                v-model="editedName"
                                class="block w-full max-w-lg rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:max-w-xs sm:text-sm" />
                        </div>
                    </div>

                    <div class="sm:grid sm:grid-cols-3 sm:items-center sm:gap-4 sm:border-t sm:border-gray-200 sm:pt-5">
                        <label for="photo" class="block text-sm font-medium text-gray-700">Category photo</label>
                        <div class="mt-1 sm:col-span-2 sm:mt-0">
                            <div class="flex items-center">
                                <span class="h-30 w-72 overflow-hidden rounded-full bg-gray-100">

                                    <svg v-if="!categoryImagePreview" class="h-full w-full text-gray-300"
                                        fill="currentColor" viewBox="0 0 24 24">
                                        <path
                                            d="M24 20.993V24H0v-2.996A14.977 14.977 0 0112.004 15c4.904 0 9.26 2.354 11.996 5.993zM16.002 8.999a4 4 0 11-8 0 4 4 0 018 0z" />
                                    </svg>
                                    <img v-else :src="categoryImagePreview">
                                </span>
                                <div class="">
                                    <input
                                        class="block w-full max-w-lg rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:max-w-xs sm:text-sm"
                                        type="file" id="file-input" @change="onInputChange" title="add file" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pt-5">
            <div class="flex justify-end">
                <button type="button" @:click="goToCategpriesNavigation"
                    class="rounded-md border border-gray-300 bg-white py-2 px-4 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Cancel</button>
                <button type="submit"
                    class="ml-3 inline-flex justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
                    @:click="UpdateCategory">
                    Update
                </button>
            </div>
        </div>
    </form>
</template>
  
<script lang="ts" src="../category/categoryedit.component.ts"></script>
<style scoped>
#file-input {
    padding-left: 10px !important;
}

input[type='file'] {
    color: rgba(0, 0, 0, 0)
}
</style>