<!--
  This example requires some changes to your config:

  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/forms'),
    ],
  }
  ```
-->
<template>
  <!--
    This example requires updating your template:

    ```
    <html class="h-full bg-white">
    <body class="h-full overflow-hidden">
    ```
  -->
  <div class="flex h-full">
    <!-- Static sidebar for desktop -->

    <div class="flex min-w-0 flex-1 flex-col overflow-hidden">
      <div class="relative z-0 flex flex-1 overflow-hidden">
        <main
          class="relative z-0 flex-1 overflow-y-auto focus:outline-none xl:order-last"
        >
          <!-- Breadcrumb -->
          <article>
            <div class="px-4 sm:px-6 lg:px-8">
              <div class="sm:flex sm:items-center">
                <div class="sm:flex-auto">
                  <h1 class="text-xl font-semibold text-gray-900"></h1>
                </div>
              </div>
            </div>
            <div>
              <div class="mx-auto max-w-5xl px-4 sm:px-6 lg:px-8">
                <div class="sm:flex sm:items-end sm:space-x-5">
                  <div class="flex">
                    <img
                      v-if="user.value?.profile_image"
                      class="h-24 w-24 rounded-full ring-4 ring-white sm:h-32 sm:w-32 border-2"
                      :src="user.value?.profile_image"
                      alt=""
                    />
                    <img
                      v-else
                      class="h-24 w-24 rounded-full ring-4 ring-white sm:h-32 sm:w-32 border-2"
                      src="@/assets/images/no-image.png"
                      alt=""
                    />
                  </div>
                </div>
                <div class="mt-6 min-w-0 flex-1 sm:block">
                  <h1 class="truncate text-2xl font-bold text-gray-900">
                    {{ `(${user.value?.id}) ` + user.value?.name }}
                  </h1>
                </div>
              </div>
            </div>

            <!-- Tabs -->
            <div class="mt-6 sm:mt-2 2xl:mt-5">
              <div class="border-b border-gray-200">
                <div class="mx-auto max-w-5xl px-4 sm:px-6 lg:px-8">
                  <nav class="-mb-px flex space-x-8" aria-label="Tabs">
                    <a
                      @click="setTab(tab.name)"
                      v-for="tab in tabs"
                      :key="tab.name"
                      :href="tab.href"
                      :class="[
                        tab.name === currentTab
                          ? 'border-pink-500 text-gray-900'
                          : 'border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300',
                        'whitespace-nowrap py-4 px-1 border-b-2 font-medium text-sm',
                      ]"
                      :aria-current="tab.current ? 'page' : undefined"
                      >{{ tab.name }}</a
                    >
                  </nav>
                </div>
              </div>
            </div>

            <!-- Description list -->
            <div
              v-if="currentTab === 'Profile'"
              class="mx-auto mt-6 max-w-5xl px-4 sm:px-6 lg:px-8"
            >
              <dl class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-3">
                <div class="sm:col-span-1">
                  <dt class="text-sm font-medium text-gray-500">Name</dt>
                  <dd class="mt-1 text-sm text-gray-900">
                    {{ user.value?.name }}
                  </dd>
                </div>
                <div class="sm:col-span-1">
                  <dt class="text-sm font-medium text-gray-500">Created at</dt>
                  <dd class="mt-1 text-sm text-gray-900">
                    {{ user.value?.created_at }}
                  </dd>
                </div>

                <div class="sm:col-span-1"></div>
                <div class="sm:col-span-1">
                  <dt class="text-sm font-medium text-gray-500">Country</dt>
                  <dd class="mt-1 text-sm text-gray-900">
                    {{ user.value?.country?.name }}
                  </dd>
                </div>
                <div class="sm:col-span-1">
                  <dt class="text-sm font-medium text-gray-500">City</dt>
                  <dd
                    v-if="user.value?.postcode && user.value?.city"
                    class="mt-1 text-sm text-gray-900"
                  >
                    {{ user.value?.postcode + " " + user.value?.city }}
                  </dd>
                  <dd v-else>{{}}</dd>
                </div>
                <div class="sm:col-span-1">
                  <dt class="text-sm font-medium text-gray-500">Address</dt>
                  <dd class="mt-1 text-sm text-gray-900">
                    {{ user.value?.address }}
                  </dd>
                </div>
                <div class="sm:col-span-1">
                  <dt class="text-sm font-medium text-gray-500">ID</dt>
                  <dd class="mt-1 text-sm text-gray-900">
                    {{ user.value?.id }}
                  </dd>
                </div>
                <div class="sm:col-span-1">
                  <dt class="text-sm font-medium text-gray-500">Email</dt>
                  <dd class="mt-1 text-sm text-gray-900">
                    {{ user.value?.email }}
                  </dd>
                </div>
              </dl>
            </div>

            <!-- Items list -->
            <div
              v-if="currentTab === 'Recorded Items'"
              class="mx-auto mt-6 max-w-5xl"
            >
              <div class="flex justify-end px-4 sm:px-6 lg:px-8">
                <button
                  v-if="currentTab === 'Recorded Items'"
                  type="button"
                  @:click="createItem()"
                  class="inline-flex items-center justify-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:w-auto"
                >
                  Add item
                </button>
              </div>
              <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 lg:pb-24">
                <div class="space-y-20">
                  <table
                    v-if="haveItems"
                    class="mt-4 w-full text-gray-500 sm:mt-6"
                  >
                    <thead
                      class="sr-only text-left text-sm text-gray-500 sm:not-sr-only"
                    >
                      <tr>
                        <th
                          scope="col"
                          class="hidden w-1/5 py-3 pr-8 font-normal sm:table-cell"
                        >
                          Image
                        </th>
                        <th
                          scope="col"
                          class="hidden w-1/5 py-3 pr-8 font-normal sm:table-cell"
                        >
                          Item
                        </th>
                        <th
                          scope="col"
                          class="hidden w-1/5 py-3 pr-8 font-normal sm:table-cell"
                        >
                          Price
                        </th>
                        <th
                          scope="col"
                          class="hidden w-1/5 py-3 pr-8 font-normal sm:table-cell"
                        >
                          Status
                        </th>
                        <th
                          scope="col"
                          class="hidden w-1/5 py-3 pr-8 font-normal sm:table-cell"
                        >
                          Created at
                        </th>
                        <th
                          scope="col"
                          class="hidden w-1/5 py-3 pr-8 font-normal sm:table-cell"
                        >
                          Info
                        </th>
                      </tr>
                    </thead>
                    <tbody
                      class="divide-y divide-gray-200 border-b border-gray-200 text-sm sm:border-t"
                    >
                      <tr v-for="item in items?.value" :key="item.id">
                        <td class="py-6 pr-8">
                          <div class="flex items-center">
                            <img
                              :src="item?.image?.image_path"
                              :alt="item.imageAlt"
                              class="mr-6 h-16 w-16 rounded object-cover object-center"
                            />
                          </div>
                        </td>
                        <td class="hidden py-6 pr-8 sm:table-cell">
                          {{ item.name }}
                        </td>
                        <td class="hidden py-6 pr-8 sm:table-cell">
                          {{ item.price.toFixed(2) }}€
                        </td>
                        <td class="hidden py-6 pr-8 sm:table-cell">
                          {{ item.status }}
                        </td>
                        <td class="hidden py-6 pr-8 sm:table-cell">
                          {{ item.created_at }}
                        </td>
                        <td class="hidden py-6 pr-8 sm:table-cell">
                          <button
                            @:click="editItem(item)"
                            class="text-indigo-600 hover:text-indigo-900 ml-2 rounded-full focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
                          >
                            View<span class="sr-only"></span>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div v-else>No item(s) created</div>
                </div>
              </div>
            </div>
          </article>
        </main>
      </div>
    </div>
  </div>
</template>

<script setup>
import { onMounted, reactive, ref } from "vue";
import axios from "axios";
import { useRouter, useRoute } from "vue-router";
const router = useRouter();
const route = useRoute();
const user = reactive({});
const items = reactive({});
const currentTab = ref("Profile");
const haveItems = ref(false);

const tabs = reactive([
  { name: "Profile", href: "#", current: true },
  { name: "Recorded Items", href: "#", current: false },
]);

const setTab = (tab) => {
  currentTab.value = tab;
};

const fetchData = async () => {
  axios
    .get(`/users/${route.params.id}`)
    .then((res) => {
      user.value = res.data.data.user_info;
      items.value = res.data.data.items;
      haveItems.value = res.data.data.items.length > 0;
    })
    .catch((error) => {
      console.log("error");
      console.log(error);
    });
};

const createItem = () => {
  router.push({ name: "item", params: { userId: route.params.id } });
};

const editItem = (item) => {
  router.push({
    name: "item",
    params: { id: item.id, userId: route.params.id },
  });
};

onMounted(() => {
  fetchData();
});
</script>
