<template>
  <div class="px-4 sm:px-6 lg:px-8">
    <div class="sm:flex sm:items-center">
      <div class="sm:flex-auto">
        <h1 class="text-xl font-semibold text-gray-900">Items List</h1>
      </div>
      <div class="mt-4 inline-flex">
        <SearchComponent :search="setSearchTerm" />
        <router-view>
          <button type="button" @:click="addItem"
            class="inline-flex items-center justify-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:w-auto">
            Add item
          </button>
        </router-view>
      </div>
    </div>
    <div class="mt-8 flex flex-col">
      <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
          <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 md:rounded-lg">
            <table class="min-w-full divide-y divide-gray-300">
              <thead class="bg-gray-50">
                <tr>
                  <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6"
                    @click="sort('type')">
                    <a href="#" class="group inline-flex">
                      Type
                      <span class="ml-2 flex-none rounded bg-gray-200 text-gray-900 group-hover:bg-gray-300">
                        <ChevronUpDownIcon class="h-5 w-5" aria-hidden="true" />
                      </span>
                    </a>
                  </th>
                  <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
                    @click="sort('category')">
                    <a href="#" class="group inline-flex">
                      Category
                      <span class="ml-2 flex-none rounded bg-gray-200 text-gray-900 group-hover:bg-gray-300">
                        <ChevronUpDownIcon class="h-5 w-5" aria-hidden="true" />
                      </span>
                    </a>
                  </th>
                  <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
                    @click="sort('name')">
                    <a href="#" class="group inline-flex">
                      Name
                      <span class="ml-2 flex-none rounded bg-gray-200 text-gray-900 group-hover:bg-gray-300">
                        <ChevronUpDownIcon class="h-5 w-5" aria-hidden="true" />
                      </span>
                    </a>
                  </th>
                  <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">
                    <a href="#" class="group inline-flex">
                      Status
                      <!-- <span
                    class="ml-2 flex-none rounded bg-gray-200 text-gray-900 group-hover:bg-gray-300"
                  >
                    <ChevronUpDownIcon class="h-5 w-5" aria-hidden="true" />
                  </span> -->
                    </a>
                  </th>
                  <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">
                    <a href="#" class="group inline-flex">
                      Price
                      <!-- <span
                    class="invisible ml-2 flex-none rounded text-gray-400 group-hover:visible group-focus:visible"
                  >
                    <ChevronDownIcon
                      class="invisible ml-2 h-5 w-5 flex-none rounded text-gray-400 group-hover:visible group-focus:visible"
                      aria-hidden="true"
                    />
                  </span> -->
                    </a>
                  </th>
                  <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
                    @:click="sort('created_at')">
                    <a href="#" class="group inline-flex">
                      Created At
                      <span class="ml-2 flex-none rounded bg-gray-200 text-gray-900 group-hover:bg-gray-300">
                        <ChevronUpDownIcon class="h-5 w-5" aria-hidden="true" />
                      </span>
                    </a>
                  </th>
                  <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">
                    <a href="#" class="group inline-flex" @:click="sort('updated_at')">
                      Updated At
                      <span class="ml-2 flex-none rounded bg-gray-200 text-gray-900 group-hover:bg-gray-300">
                        <ChevronUpDownIcon class="h-5 w-5" aria-hidden="true" />
                      </span>
                    </a>
                  </th>
                  <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-6">
                    <span class="sr-only">Edit</span>
                  </th>
                </tr>
              </thead>
              <tbody class="divide-y divide-gray-200 bg-white">
                <tr v-for="item in items" :key="item.id">
                  <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6">
                    {{ item.type.name }}
                  </td>
                  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                    {{ item.category.name }}
                  </td>
                  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                    {{ item.name }}
                  </td>
                  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                    {{ item.status }}
                  </td>
                  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                    {{ item.price.toFixed(2) }}€
                  </td>
                  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                    {{ item.created_at }}
                  </td>
                  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                    {{ item.updated_at }}
                  </td>
                  <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6">
                    <button
                      class="text-indigo-600 hover:text-indigo-900 ml-2 rounded-full focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
                      @:click="editItem(item)">
                      Edit<span class="sr-only">, {{ "test" }}</span>
                    </button>
                    <button
                      class="text-red-600 hover:text-indigo-900 ml-2 rounded-full focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
                      @:click="showDeleteAlert(item.id)">
                      Delete<span class="sr-only">, {{ "test" }}</span>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="mx-auto max-w-7xl px-4 sm:px-6 md:px-8">
          <Pagination :current="currentPage" :total="totalPages" :per-page="itemsPerPage"
            @page-changed="setPage($event)" />
          <router-view />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { onMounted, ref, watch, inject } from "vue";
import axios from "axios";
import { useRouter } from "vue-router";
import Swal from "sweetalert2";
import Pagination from "@/components/pagination/Pagination";
import store from "@/store";
import { useToast } from "vue-toastification";

export default {
  components: { Pagination },
  setup() {
    const router = useRouter();
    const items = ref(null);
    const loading = ref(false);
    const totalPages = ref(0);
    const itemsPerPage = ref(0);
    const currentPage = ref(1);
    const searchTerm = ref(null);
    const predicate = ref("");
    const reverse = ref(true);
    const sortQuery = ref("");
    const page = ref(1);
    const userId = ref(-1);
    const toast = useToast();

    const fetchData = async () => {
      let queryBuilder = `page=${page.value}`;
      if (searchTerm.value) {
        queryBuilder += `&filter[searchTerm]=${searchTerm.value}`;
      }
      if (sortQuery.value) {
        queryBuilder += `${sortQuery.value}`;
      }
      loading.value = true;
      axios
        .get(`/items?${queryBuilder}`)
        .then((res) => {
          loading.value = false;
          totalPages.value = res.data.meta.last_page;
          itemsPerPage.value = res.data.meta.per_page;
          currentPage.value = res.data.meta.current_page;
          items.value = res.data.data;
        })
        .catch((error) => {
          loading.value = false;
          if (error.response.data !== undefined) {
            toast.error(error.response.data.message);
          } else {
            toast.error(error.message);
          }
        });
    };

    const fetchLoggedUser = async () => {
      var loggedAccount = store.getters.account;
      axios.get(`/users?filter[email]=${loggedAccount}`)
        .then((res) => {
          userId.value = res.data.data[0].id;
        })
        .catch((error) => {
          console.log(error)
        });
    };

    const setPage = (pageNo) => {
      page.value = pageNo;
    };

    const setSearchTerm = (text) => {
      searchTerm.value = text;
    };

    const editItem = (item) => {
      router.push({ name: "item", params: { id: item.id, userId: userId.value } });
    };

    const deleteItem = async (id) => {
      axios
        .delete(`/items/${id}`)
        .then((res) => {
          toast.success("Item successfully deleted!");
          fetchData();
        })
        .catch((error) => {
          if (error.response.data !== undefined) {
            toast.error(error.response.data.message);
          } else {
            toast.error(error.message);
          }
        });
    };

    const showDeleteAlert = (id) => {
      Swal.fire({
        title: "Do you want to delete the item?",
        showCancelButton: true,
        confirmButtonText: "Delete",
        cancelButtonText: `Cancel`,
      }).then((result) => {
        /* Read more about isConfirmed, isDenied below */
        if (result.isConfirmed) {
          deleteItem(id);
        } else if (result.isDenied) {
        }
      });
    };

    const addItem = () => {
      router.push({ name: "item", params: { userId: userId.value } });
    };

    const sort = (predicate) => {
      reverse.value = !reverse.value;

      const direction = reverse.value ? "-" : "";
      sortQuery.value = `&sort=${direction + predicate}`;
    };

    onMounted(() => {
      fetchData();
      fetchLoggedUser();
    });

    watch([page, sortQuery, searchTerm], (currentValue, oldValue) => {
      fetchData();
    });

    return {
      items,
      loading,
      page,
      editItem,
      addItem,
      setSearchTerm,
      setPage,
      sort,
      totalPages,
      itemsPerPage,
      currentPage,
      showDeleteAlert,
    };
  },
};
</script>

<style scoped>
.badge {
  background-color: red;
  color: white;
  padding: 3px 6px;
  text-align: center;
  border-radius: 5px;
}
</style>