<template>
  <form @submit.prevent="" class="space-y-8 divide-y divide-gray-200">
    <div class="space-y-8 divide-y divide-gray-200 sm:space-y-5">
      <div class="space-y-6 pt-8 sm:space-y-5 sm:pt-10">
        <div>
          <h3 class="text-lg font-medium leading-6 text-gray-900">
            {{ editing ? "Edit Item" : "Create Item" }}
          </h3>
        </div>
      </div>
      <div class="space-y-6 sm:space-y-5">
        <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:border-t sm:border-gray-200 sm:pt-5">
          <label for="first-name" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">Item name</label>
          <div class="mt-1 sm:col-span-2 sm:mt-0">
            <input id="name" name="name" type="text" required="true" v-model="itemName"
              placeholder="Please enter item name"
              class="block w-full max-w-lg rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:max-w-xs sm:text-sm" />
          </div>
        </div>

        <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:border-t sm:border-gray-200 sm:pt-5">
          <label for="about" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">Description</label>
          <div class="mt-1 sm:col-span-2 sm:mt-0">
            <textarea id="name" name="name" type="text" required="true" v-model="itemDescription"
              placeholder="Please enter item description" rows="3"
              class="block w-full max-w-lg rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" />
          </div>
        </div>

        <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:border-t sm:border-gray-200 sm:pt-5">
          <label for="about" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">Brand</label>
          <div class="mt-1 sm:col-span-2 sm:mt-0">
            <input id="name" name="name" type="text" required="true" v-model="itemBrand"
              placeholder="Please enter item brand"
              class="block w-full max-w-lg rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:max-w-xs sm:text-sm" />
          </div>
        </div>

        <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:border-t sm:border-gray-200 sm:pt-5">
          <label for="about" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">Color</label>
          <div class="mt-1 sm:col-span-2 sm:mt-0">
            <input id="name" name="name" type="text" required="true" v-model="itemColor"
              placeholder="Please enter item color"
              class="block w-full max-w-lg rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:max-w-xs sm:text-sm" />
          </div>
        </div>

        <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:border-t sm:border-gray-200 sm:pt-5">
          <label for="about" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">Price</label>
          <div class="mt-1 sm:col-span-2 sm:mt-0">
            <input id="price" name="price" type="number" autocomplete="email" required="true"
              placeholder="Please enter item price" v-model="itemPrice"
              class="block w-full max-w-lg rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:max-w-xs sm:text-sm" />
          </div>
        </div>

        <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:border-t sm:border-gray-200 sm:pt-5">
          <label for="country" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">Country</label>
          <div class="mt-1 sm:col-span-2 sm:mt-0">
            <Select2 style="width: 100%" name="select1" :options="statuses" :model-value="String(selectedStatus)"
              @update:modelValue="selectedStatus = $event">
            </Select2>
          </div>
        </div>

        <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:border-t sm:border-gray-200 sm:pt-5">
          <label for="country" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">Type</label>
          <div class="mt-1 sm:col-span-2 sm:mt-0">
            <Select2 style="width: 100%" name="select2" :options="types" :model-value="String(selectedType)"
              @update:modelValue="selectedType = $event">
            </Select2>
          </div>
        </div>

        <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:border-t sm:border-gray-200 sm:pt-5">
          <label for="country" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">Category</label>
          <div class="mt-1 sm:col-span-2 sm:mt-0">
            <Select2 style="width: 100%" :settings="{ minimumResultsForSearch: Infinity }" name="select3"
              :options="categories" :model-value="String(selectedCategory)"
              @update:modelValue="selectedCategory = $event">
            </Select2>
          </div>
        </div>

        <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:border-t sm:border-gray-200 sm:pt-5">
          <label for="cover-photo" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">Item
            photo(s)</label>
          <div class="mt-1 sm:col-span-2 sm:mt-0">
            <DropZone
              class="flex flex-col max-w-lg justify-center rounded-md border-2 border-dashed border-gray-300 px-6 pt-5 pb-6"
              @files-dropped="addFiles" #default="{ }">
              <label for="file-input">
                <div class="space-y-1 text-center">
                  <svg class="mx-auto h-12 w-12 text-gray-400" stroke="currentColor" fill="none" viewBox="0 0 48 48"
                    aria-hidden="true">
                    <path
                      d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02"
                      stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
                  <div class="flex text-sm text-gray-600">
                    <label for="file-upload"
                      class="relative cursor-pointer rounded-md bg-white font-medium text-indigo-600 focus-within:outline-none focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 hover:text-indigo-500">
                      <span>Upload a file</span>
                      <input id="file-upload" name="file-upload" type="file" class="sr-only" multiple />
                    </label>
                    <p class="pl-1">or drag and drop</p>
                  </div>
                </div>

                <input type="file" id="file-input" multiple @change="onInputChange" />
              </label>
              <ul class="image-list" v-show="files.length">
                <FilePreview v-for="file of files" :key="file.id" :file="file" tag="li" @remove="removeFile" />
              </ul>
            </DropZone>
          </div>
        </div>

        <div class="pt-5">
          <div class="flex justify-end">
            <button
              class="rounded-md border border-gray-300 bg-white py-2 px-4 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
              @:click.prevent="goBack">Cancel
            </button>
            <button
              class="ml-3 inline-flex justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
              @:click.prevent="submit">
              {{ editing ? "Update" : "Create" }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</template>

<script>
import { computed, onMounted, ref } from "vue";
import axios from "axios";
import { useRoute } from "vue-router";

import useFileList from "../../DropZone/file-list";
import router from "@/router";
import { useToast } from "vue-toastification";

export default {
  setup() {
    const route = useRoute();
    const { id, userId } = route.params;
    const items = ref(null);
    const loading = ref(false);
    const editing = ref(false);
    const editData = ref(null);

    const selectedCategory = ref(null);
    const itemName = ref(null);
    const itemPrice = ref(null);
    const selectedStatus = ref(null);
    const itemDescription = ref(null);
    const itemBrand = ref(null);
    const itemColor = ref(null);
    const selectedType = ref(null);
    const toast = useToast();

    const { files, addFiles, removeFile, addUrlFiles } = useFileList();

    //plugin for upload
    function onInputChange(e) {
      addFiles(e.target.files);
      e.target.value = null;
    }

    //end plugin for upload
    const fetchData = async () => {
      let url = route.params.id ? `/items/${id}/edit` : "/items/create";
      loading.value = true;
      axios
        .get(url)
        .then((res) => {
          loading.value = false;
          editData.value = res.data.data;

          if (editing.value) {
            itemName.value = res.data.data.item.name;
            (itemColor.value = res.data.data.item.color),
              (itemBrand.value = res.data.data.item.brand),
              (itemPrice.value = res.data.data.item.price);
            selectedStatus.value = editData.value.statuses.indexOf(
              res.data.data.item.status
            );
            selectedCategory.value = res.data.data.item.category.id;
            selectedType.value = res.data.data.item.type.id;
            itemDescription.value = res.data.data.item.description;
            addUrlFiles(res.data.data.item.images);
          }
        })
        .catch((error) => {
          loading.value = false;
          if (error.response.data !== undefined) {
            toast.error(error.response.data.message);
          } else {
            toast.error(error.message);
          }
        });
    };

    const submit = async () => {
      let formdata = new FormData();
      let all = await Promise.all(files.value.filter((file) => file.file));
      Object.keys(all).forEach((item, index) => {
        formdata.append(`images[${index}]`, all[index].file);
      });
      let itemData = {
        user_id: userId,
        item_type_id: selectedType.value,
        category_id: selectedCategory.value,
        name: itemName.value,
        status: editData.value.statuses[selectedStatus.value],
        description: itemDescription.value,
        brand: itemBrand.value,
        color: itemColor.value,
        price: itemPrice.value,
      };

      if (route.params.id) {
        itemData._method = "PATCH";
      }

      for (var key in itemData) {
        formdata.append(key, itemData[key]);
      }

      let url = route.params.id ? `/items/${id}` : "/items";
      let method = route.params.id ? "POST" : "POST";
      axios({ method, url, data: formdata })
        .then((res) => {
          if (res.status === 200) {
            toast.success("Item success.");
            router.push(`/navigation/items/`);
          }
        })
        .catch((error) => {
          loading.value = false;
          if (error.response.data !== undefined) {
            toast.error(error.response.data.message);
          } else {
            toast.error(error.message);
          }
        });
    };
    const checkLayout = () => {
      editing.value = !!route.params.id;
    };

    const goBack = () => {
      router.back();
    };

    const categories = computed(() => {
      if (!editData.value?.categories) return ["awd"];
      return editData.value?.categories?.map((category) => {
        return {
          text: category.name,
          children: category.children?.map((child) => {
            return {
              text: child.name,
              id: child.id,
            };
          }),
        };
      });
    });

    const types = computed(() => {
      if (!editData.value?.types) return ["awd"];
      return editData.value?.types?.map((type) => {
        return {
          text: type.name,
          id: type.id,
        };
      });
    });

    const statuses = computed(() => {
      if (!editData.value?.statuses) return ["awd"];
      return editData.value?.statuses?.map((status, index) => {
        return {
          text: status,
          id: index,
        };
      });
    });

    onMounted(() => {
      fetchData();
      // if (route.params.id) {
      //   fetchData()
      // }
      checkLayout();
    });
    return {
      items,
      loading,
      editing,
      editData,
      categories,
      types,
      statuses,
      selectedCategory,
      itemName,
      selectedType,
      itemPrice,
      selectedStatus,
      files,
      goBack,
      itemDescription,
      itemBrand,
      itemColor,
      onInputChange,
      addFiles,
      removeFile,
      submit,
    };
  },
};
</script>

<style>
.select2-container {
  width: 40% !important;
}

.drop-area {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 50px;
  background: #fff 55;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: 0.2s ease;
}

.drop-area[data-active="true"] {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background: #fff;
}

.drop-area label {
  font-size: 36px;
  cursor: pointer;
  display: block;
}

.drop-area label span {
  display: block;
}

label input[type="file"]:not(:focus-visible) {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

label .smaller {
  font-size: 16px;
}

.image-list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  padding: 0;
}

.upload-button {
  display: block;
  appearance: none;
  border: 0;
  border-radius: 50px;
  padding: 0.75rem 3rem;
  margin: 1rem auto;
  font-size: 1.25rem;
  font-weight: bold;
  background: #369;
  color: #fff;
  text-transform: uppercase;
}

button {
  cursor: pointer;
}

.space-y-1 {
  display: table;
  margin: 0 auto;
}
</style>
