<script lang="ts" src="./userList.component.ts"></script>
<template>
  <div class="px-4 sm:px-6 lg:px-8">
    <div class="sm:flex sm:items-center">
      <div class="sm:flex-auto">
        <h1 class="text-xl font-semibold text-gray-900">User List</h1>
      </div>
      <div class="mt-4 inline-flex">
        <SearchComponent placeholder="test" :search="setSearchTerm" />
        <router-view>
          <button type="button" @:click="addUser"
            class="inline-flex items-center justify-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:w-auto">
            Add user
          </button>
        </router-view>
      </div>
    </div>
    <div class="mt-8 flex flex-col">
      <div class="-my-2 -mx-4 overflow-x-hidden sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
          <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 md:rounded-lg">
            <table class="min-w-full divide-y divide-gray-300">
              <thead class="bg-gray-50">
                <tr>
                  <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6"
                    @click="sort('name')">
                    <a href="#" class="group inline-flex">
                      Name
                      <span class="ml-2 flex-none rounded bg-gray-200 text-gray-900 group-hover:bg-gray-300">
                        <ChevronUpDownIcon class="h-5 w-5" aria-hidden="true" />
                      </span>
                    </a>
                  </th>
                  <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
                    @click="sort('email')">
                    <a href="#" class="group inline-flex">
                      Email
                      <span class="ml-2 flex-none rounded bg-gray-200 text-gray-900 group-hover:bg-gray-300">
                        <ChevronUpDownIcon class="h-5 w-5" aria-hidden="true" />
                      </span>
                    </a>
                  </th>
                  <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">
                    <a href="#" class="group inline-flex">
                      City
                      <!-- <span
                        class="ml-2 flex-none rounded bg-gray-200 text-gray-900 group-hover:bg-gray-300"
                      >
                        <ChevronUpDownIcon class="h-5 w-5" aria-hidden="true" />
                      </span> -->
                    </a>
                  </th>
                  <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">
                    <a href="#" class="group inline-flex">
                      Country
                      <!-- <span
                        class="invisible ml-2 flex-none rounded text-gray-400 group-hover:visible group-focus:visible"
                      >
                        <ChevronDownIcon
                          class="invisible ml-2 h-5 w-5 flex-none rounded text-gray-400 group-hover:visible group-focus:visible"
                          aria-hidden="true"
                        />
                      </span> -->
                    </a>
                  </th>
                  <th scope="col" class="whitespace-nowrap px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
                    @:click="sort('created_at')">
                    <a href="#" class="whitespace-nowrap group inline-flex">
                      Created At
                      <span class="ml-2 flex-none rounded bg-gray-200 text-gray-900 group-hover:bg-gray-300">
                        <ChevronUpDownIcon class="h-5 w-5" aria-hidden="true" />
                      </span>
                    </a>
                  </th>
                  <th scope="col" class="whitespace-nowrap px-3 py-3.5 text-left text-sm font-semibold text-gray-900">
                    <a href="#" class="whitespace-nowrap group inline-flex" @:click="sort('updated_at')">
                      Updated At
                      <span class="ml-2 flex-none rounded bg-gray-200 text-gray-900 group-hover:bg-gray-300">
                        <ChevronUpDownIcon class="h-5 w-5" aria-hidden="true" />
                      </span>
                    </a>
                  </th>
                  <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-6">
                    <span class="sr-only">Edit</span>
                  </th>
                </tr>
              </thead>
              <tbody class="divide-y divide-gray-200 bg-white">
                <tr v-for="user in users" :key="user.email">
                  <td v-if="user.name"
                    class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6">
                    {{ user.name }}
                  </td>
                  <td v-else>
                    ---
                  </td>
                  <td v-if="user.email" class="whitespace-nowrap px-1 py-4 text-sm text-gray-500">
                    {{ user.email }}
                  </td>
                  <td v-else>
                    ---
                  </td>
                  <td v-if="user.city" class="whitespace-nowrap px-1 py-4 text-sm text-gray-500">
                    {{ user.city }}
                  </td>
                  <td v-else>
                    ---
                  </td>
                  <td v-if="user.country" class="whitespace-nowrap px-1 py-4 text-sm text-gray-500">
                    {{ user.country.name }}
                  </td>
                  <td v-else>
                    ---
                  </td>
                  <td v-if="user.created_at" class="whitespace-nowrap px-1 py-4 text-sm text-gray-500">
                    {{ user.created_at }}
                  </td>
                  <td v-if="user.updated_at" class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                    {{ user.updated_at }}
                  </td>
                  <td v-else>
                    ---
                  </td>
                  <td v-if="user"
                    class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6">
                    <button
                      class="text-indigo-600 hover:text-indigo-900 ml-2 rounded-full focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
                      @:click="showUser(user)">
                      View<span class="sr-only"></span>
                    </button>
                    <button
                      class="text-indigo-600 hover:text-indigo-900 ml-2 rounded-full focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
                      @:click="editUser(user)">
                      Edit<span class="sr-only"></span>
                    </button>
                    <button
                      class="text-red-600 hover:text-indigo-900 ml-2 rounded-full focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
                      @:click="showDeleteAlert(user.id, user.name)">
                      Delete<span class="sr-only"></span>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mx-auto max-w-7xl px-4 sm:px-6 md:px-8">
    <Pagination :current="currentPage" :total="totalPages" :per-page="itemsPerPage" @page-changed="setPage($event)"
      text-before-input="" text-after-input="" />
    <router-view />
  </div>
</template>

<style>

</style>
