<script lang="ts" src="./userItem.component.ts"></script>

<template>
  <form @submit.prevent="" class="space-y-8 divide-y divide-gray-200">
    <div class="space-y-8 divide-y divide-gray-200 sm:space-y-5">
      <div class="space-y-6 pt-8 sm:space-y-5 sm:pt-10">
        <div>
          <h3 class="text-lg font-medium leading-6 text-gray-900">{{buttonText}} user</h3>
          <!-- <p class="mt-1 max-w-2xl text-sm text-gray-500">Use a permanent address where you can receive mail.</p> -->
        </div>
        <div class="space-y-6 sm:space-y-5">
          <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:border-t sm:border-gray-200 sm:pt-5">
            <label for="first-name" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">Full name</label>
            <div class="mt-1 sm:col-span-2 sm:mt-0">
              <input id="full-name" name="full-name" type="text" required="true" placeholder="User full name"
                v-model="user.name"
                class="block w-full max-w-lg rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:max-w-xs sm:text-sm" />
            </div>
          </div>

          <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:border-t sm:border-gray-200 sm:pt-5">
            <label for="email" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">Email address</label>
            <div class="mt-1 sm:col-span-2 sm:mt-0">
              <input id="added-email" name="added-email" type="email" autocomplete="email" required="true"
                placeholder="Email" v-model="user.email"
                class="block w-full max-w-lg rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:max-w-xs sm:text-sm" />
            </div>
          </div>

          <div v-if="!isEdit"
            class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:border-t sm:border-gray-200 sm:pt-5">
            <label for="last-name" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">Password</label>
            <div class="mt-1 sm:col-span-2 sm:mt-0">
              <input id="added-password" name="added-password" type="password" required="true" v-model="user.password"
                class="block w-full max-w-lg rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:max-w-xs sm:text-sm" />
            </div>
          </div>

          <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:border-t sm:border-gray-200 sm:pt-5">
            <label for="country" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">Country</label>
            <div class="mt-1 sm:col-span-2 sm:mt-0">
              <v-select id="user-country" name="user-country" required="true" v-model="user.country"
                :options="countries" label="name"
                class="block w-full max-w-lg rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:max-w-xs sm:text-sm" />

            </div>
          </div>

          <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:border-t sm:border-gray-200 sm:pt-5">
            <label for="street-address" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">Street
              address</label>
            <div class="mt-1 sm:col-span-2 sm:mt-0">
              <input id="user-address" name="user-address" type="text" required="true" placeholder="User address"
                v-model="user.address"
                class="block w-full max-w-lg rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:max-w-xs sm:text-sm" />
            </div>
          </div>

          <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:border-t sm:border-gray-200 sm:pt-5">
            <label for="city" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">City</label>
            <div class="mt-1 sm:col-span-2 sm:mt-0">
              <input id="user-city" name="user-city" type="text" placeholder="City name" required="true"
                v-model="user.city"
                class="block w-full max-w-lg rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:max-w-xs sm:text-sm" />
            </div>
          </div>

          <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:border-t sm:border-gray-200 sm:pt-5">
            <label for="postal-code" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">ZIP / Postal
              code</label>
            <div class="mt-1 sm:col-span-2 sm:mt-0">
              <input id="user-zip" name="user-zip" type="text" placeholder="Zip code" required="true"
                v-model="user.postcode"
                class="block w-full max-w-lg rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:max-w-xs sm:text-sm" />
            </div>
          </div>
        </div>

        <div class="sm:grid sm:grid-cols-3 sm:items-center sm:gap-4 sm:border-t sm:border-gray-200 sm:pt-5">
          <label for="photo" class="block text-sm font-medium text-gray-700">Photo</label>
          <div class="mt-1 sm:col-span-2 sm:mt-0">
            <div class="flex items-center">
              <span class="h-12 w-12 overflow-hidden rounded-full bg-gray-100">

                <svg v-if="!user.profile_image" class="h-full w-full text-gray-300" fill="currentColor"
                  viewBox="0 0 24 24">
                  <path
                    d="M24 20.993V24H0v-2.996A14.977 14.977 0 0112.004 15c4.904 0 9.26 2.354 11.996 5.993zM16.002 8.999a4 4 0 11-8 0 4 4 0 018 0z" />
                </svg>
                <img v-else :src="profileImagePreview">
              </span>
              <input
                class="block w-full max-w-lg rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:max-w-xs sm:text-sm"
                type="file" id="file-input" @change="onInputChange" title="add file" />
              <!-- <label for="files">Select file</label> -->
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="pt-5">
      <div class="flex justify-end">
        <button type="button" @:click="goToUserNavigation"
          class="rounded-md border border-gray-300 bg-white py-2 px-4 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Cancel</button>
        <button type="submit"
          class="ml-3 inline-flex justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
          @:click="createOrUpdate">
          {{buttonText}}</button>
      </div>
    </div>
  </form>
</template>

<style scoped>
#file-input {
  padding-left: 10px !important;
}

input[type='file'] {
  color: rgba(0, 0, 0, 0)
}
</style>