<script lang="ts" src="./search.component.ts"></script>
<template>
  <div class="relative">
    <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
      <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="none" stroke="currentColor"
        viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
      </svg>
    </div>
    <input type="search" id="default-search"
      class="block p-4 pl-10 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      :placeholder="placeholder"
      required
      v-model="inputText"
    />
  </div>
</template>

<style >
#app>div>div.flex.flex-1.flex-col.md\:pl-64>main>div>div>div.px-4.sm\:px-6.lg\:px-8>div.sm\:flex.sm\:items-center>div.mt-4.inline-flex>button {
  margin-left: 5px;
  height: 33px;
}

#default-search {
  height: 30px;
}
</style>
